<div class="block block-image" style="text-align:center;">
  <figure>
    <img src="{{block.content.url}}" alt="{{block.content.alt}}" style="max-width:100%;height:auto;border-radius:4px;" />
    {{#if block.content.caption}}
      <figcaption style="font-size:0.875rem;color:#6b7280;margin-top:0.5rem;">{{block.content.caption}}</figcaption>
    {{/if}}
  </figure>
</div>
